{% extends 'admin/BaseAdmin.html' %}
{% load static %}

{% block docs %}
    <script type="text/javascript" src="{% static 'clientList.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column">
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li>
                        <a class="navbar-item has-text-info" href="{% url 'admin_principal' %}">Jugadas</a>
                    </li>
                    <li>
                        <a class="navbar-item has-text-info" href="{% url 'profiles_list' %}">Perfiles de jugadas</a>
                    </li>
                    <li class="is-active">
                        <a class="navbar-item has-text-info" href="{% url 'all_clients' %}">Usuarios</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column is-1"></div>

        <div class="column is-10">
            <h4 class="title has-text-white has-text-centered">Usuarios</h4>
            <a typer="button" class="button is-small is-link" href="{% url 'new_client' %}" style="margin-bottom: 10px;">Nuevo Usuario</a>
            
            <table class="table table-dark is-fullwidth" style="background-color: #343a40;">
                <thead>
                    <tr>
                        <td class="has-text-white has-text-centered" style="border: 1px solid black;">Estado</td>
                        <td class="has-text-white has-text-centered" style="border: 1px solid black;">Usuario</td>
                        <td class="has-text-white has-text-centered" style="border: 1px solid black;"colspan="4">Opciones</td>
                    </tr>
                </thead>
                <tbody>
                    {% if clients %}
                        {% for client in clients %}
                        <tr style="border: 1px solid black;">
                            <td class="has-text-white" style="border: 1px solid black;">{{client.status}}</td>
                            <td class="has-text-white" style="border: 1px solid black;">{{client.name}}</td>
                            <td class="has-text-centered" style="border: 1px solid black;">
                                <a type="button" href="{% url 'client_modify' client.id %}" class="button is-small is-link">Ver</a>
                            </td>
                            <td class="has-text-centered" style="border: 1px solid black;">
                                <button class="button is-small is-success perfilButton" data-target="assignModal" id="{{client.id}}">Perfiles asignados</button>
                            </td>
                            {% if client.is_active %}
                                <td class="has-text-centered" style="border: 1px solid black;"><a type="button" href="{% url 'desactivate_client' client.id %}" class="button is-small is-warning">Desactivar</a></td>
                            {% else %}
                                <td class="has-text-centered" style="border: 1px solid black;">
                                    <a type="button" href="{% url 'desactivate_client' client.id %}" class="button is-small is-warning">Activar</a></td>
                            {% endif %}    
                            <td class="has-text-centered" style="border: 1px solid black;">
                                <button class="button is-small is-danger deleteButton" data-target="deleteModal" id="{{client.id}}">
                                Eliminar
                              </button>
                            </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal delete-->
    <div class="modal" id="deleteModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head" style="background-color: #343a40;">
              <p class="modal-card-title has-text-white">Seguro que desea eliminar el cliente.</p>
              <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body" style="background-color: #343a40;">
                <div class="columns">
                    <div class="column is-5"></div>
                    <div class="column is-7">
                        <img src="{% static 'iconos.png' %}" alt="">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot" style="background-color: #292929;">
                <a type="button" class="button is-link" href="" id="seguro">Sí, Seguro.</a>
                <button class="button" data-dismiss="modal">Cancelar</button>
            </footer>
          </div>
    </div>

    <!-- Modal assign -->
    <div class="modal" id="assignModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head" style="background-color: #343a40;">
              <p class="modal-card-title has-text-white">Administrar perfiles asignados</p>
              <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body" style="background-color: #343a40;">
                <table class="table table-dark is-fullwidth" style="background-color: #343a40;">
                    <thead>
                        <tr>
                            <td class="has-text-white has-text-centered" style="border: 1px solid black;">Perfile</td>
                            <td class="has-text-white has-text-centered" style="border: 1px solid black;">Estado</td>
                            <td class="has-text-white has-text-centered" style="border: 1px solid black;"colspan="4">Opciones</td>
                        </tr>
                    </thead>
                    <tbody id="perfilList">
                    </tbody>
                </table>
            </section>
          </div>
    </div>
    


    <script>
        var clientSel;

        $('#perfilList').on('click .perfilList',function(e){
            let data = {'csrfmiddlewaretoken':'{{csrf_token}}','client':clientSel,'profile':e.target.id}
            data['type'] = e.target.dataset.func;
            $.post("{% url 'action_profile' %}",data,
                function(response){
                    location.reload();
                });
        });

        $('.deleteButton').click(function(){
            $('#seguro')[0].href = "{% url 'delete_client' 0 %}".replace('0',this.id);
        });

        $('#saveForm').click(function(){
            texto = '';
            perfil =$('#perfilID')[0].value;
            descV =  $('#descID')[0].value;
            counter = 0
            console.log(perfil,descV,"hola");

            $.post("{% url 'new_profile' %}",
                    {'csrfmiddlewaretoken':'{{csrf_token}}','name':perfil,'description':descV},
                    function(response){
                        location.reload();
                    }
                );
        });
        document.addEventListener('DOMContentLoaded', () => {
            // Functions to open and close a modal
            function openModal($el) {
                $el.classList.add('is-active');
            }

            function closeModal($el) {
                $el.classList.remove('is-active');
            }

            function closeAllModals() {
                (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                    closeModal($modal);
                });
            }

            // Add a click event on buttons to open a specific modal
            (document.querySelectorAll('.deleteButton') || []).forEach(($trigger) => {
                const modal = $trigger.dataset.target;
                const $target = document.getElementById(modal);

                $trigger.addEventListener('click', () => {
                    openModal($target);
                });
            });

             // Add a click event on buttons to open a specific modal
             (document.querySelectorAll('.perfilButton') || []).forEach(($trigger) => {
                const modal = $trigger.dataset.target;
                const $target = document.getElementById(modal);
               

                $trigger.addEventListener('click', () => {
                    openModal($target);
                    clientSel = $trigger.id;
                    loadProfiles($trigger.id);
                });
            });

            // Add a click event on various child elements to close the parent modal
            (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
                const $target = $close.closest('.modal');

                $close.addEventListener('click', () => {
                    closeModal($target);
                });
            });

            // Add a keyboard event to close all modals
            document.addEventListener('keydown', (event) => {
                const e = event || window.event;
                if (e.keyCode === 27) { // Escape key
                    closeAllModals();
                }
            });
        });
    </script>

{% endblock %}