.color0{
	background-color: #292929 !important;
	text-align: center;
	color: #ffffff !important;
}

.color1{
	background-color: #00B050 !important;
	text-align: center;
	color:#efefef !important;
}

.color101{
	background-color: #00B050 !important;
	color: #ffffff !important;
	text-align: center;
}

.color2{
	background-color: #92D050 !important;
	color: #333333;
	text-align: center;
}

.color3{
	background-color: #FF0000 !important;
	text-align: center;
	color: #f5dbd7;
}

.color4{
	background-color: #FFFF00 !important;
	text-align: center;
}

.color5{
	background-color: #0070C0 !important;
	color:#efefef !important;
	text-align: center;
}

.color105{
	background-color: #0070C0 !important;
	color: #FF9900 !important;
	text-align: center;
}

.color6{
	background-color: #00B0F0 !important;
	text-align: center;
}

.color7{
	background-color: #00B050 !important;
	text-align: center;
}

.color8{
	background-color: #FF0000 !important;
	text-align: center;
}

.color9{
	background-color: #00B050 !important;
	text-align: center;
}

.color10{
	background-color: #00B050 !important;
	text-align: center;
}

.color11{
	background-color: #FF0000 !important;
	text-align: center;
}

.color12{
	background-color: #F2F2F2 !important;
	text-align: center;
}

.color13{
	background-color: #FF5543 !important;
	text-align: center;
}

.color14{
	background-color: #FC9F6C !important;
	text-align: center;
}

.color15{
	background-color: #BFBFBF !important;
	text-align: center;
}

.color16{
	background-color: #ff9d42 !important;
	text-align: center;
}