{% if view == 'index' %}
  {% if tags %}
  <div class="column is-one-fifth control mb-2">
    <div class="tags has-addons">
      {% for tag in tags %}
        <span class="tag  ccolor{{tag.0}}"></span>
        <span class="tag is-grey mr-2">{{tag.1}}</span>
      {% endfor %}
    </div>
  </div>		
  {% endif %}
  <div class="table table-responsive" id="TABLEC">
    <table class="table table-sm" style="margin-bottom: 0%;">
      <tbody>
        {% if load_table %}       
          {% for fila in load_table %}
          <tr>
            {% for columna in fila %}
              {% if view == 'version' %}
                <td  style="background-color: {{columna.2}};color: aliceblue;border: solid 1px white;">
                  {{columna.0}} VERS
                </td>
              {% else %}
                  <td  class="bordado color{{columna.1}}">
                    {{columna.0}}
                  </td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}

        {% elif tabla %}
          {% for fila in tabla %}
          <tr>
            {% for columna in fila %}
              {% if admin %}
                <td  class="ButtonVersion" id="{{columna}}|0" style="background-color: #292929;color: aliceblue;border: solid 1px white;">
                  {{columna}}
                </td>
              {% elif view == 'profiles' or view == 'client'%}
                <td  class="ButtonCell" id="{{columna}}|0" style="background-color: #292929; color: aliceblue;border: solid 1px white;">
                  {{columna}} 
                </td>
              {% elif view == 'version' %}
                <td style="background-color: {{columna.2}};color: aliceblue;border: solid 1px white;">
                  {{columna.0}}
                </td>
              {% else %}
                <td style="background-color: #292929; color: aliceblue;border: solid 1px white;">
                  {{columna}}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

{% elif view == 'profiles' %}
  <div class="column is-one-fifth control mb-2">
    <div class="tags has-addons">
      {% for tag in tags %}
        <span class="tag  ccolor{{tag.0}}"></span>
        <span class="tag is-grey mr-2">{{tag.1}}</span>
      {% endfor %}
    </div>
  </div>	
  <div class="table table-responsive" id="TABLEC">
    <table class="table table-sm" style="margin-bottom: 0%;">
      <tbody>
        {% if assigned %}
          {% for fila in as_table %}
          <tr>
            {% for columna in fila %}
              {% if view == 'version' or view == 'profiles' %}
                <td class=" bordado color{{columna.1}}">
                  {{columna.0}}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}

        {% else %}
          {% if load_table %}
            {% for fila in load_table %}
            <tr>
              {% for columna in fila %}
                {% if view == 'version' or view == 'profiles' %}
                  <td class="bordado color{{columna.1}}">
                    {{columna.0}}
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}

          {% else %}
            {% for fila in tabla %}
            <tr>
              {% for columna in fila %}
                <td style="background-color: #292929;color: aliceblue;border: solid 1px white;">
                  {{columna}} 
                </td>
              {% endfor %}
            </tr>
            {% endfor %}
            {% endif %}
          {% endif %}
      </tbody>
    </table>
  </div>
  

{% else %}
  <div class="table table-responsive" id="TABLEC">
    <table class="table table-sm" style="margin-bottom: 0%;">
      <tbody>
        {% if load_table %}
          {% for fila in load_table %}
          <tr>
            {% for columna in fila %}
              {% if view == 'version' or view == 'profiles' or view == 'client' %}
                <td class="color{{columna.1}} bordado">
                  {{columna.0}}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        {% else %}
        {% for fila in tabla %}
        <tr>
          {% for columna in fila %}
            <td style="background-color: #292929;color: aliceblue;border: solid 1px white;">
              {{columna}}
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  
{% endif %}