{% if view == 'index' %}
  <div class="table table-responsive" id="TABLEC">
    <table class="table table-sm" style="margin-bottom: 0%;">
      <tbody>
        {% if load_table %}       
          {% for fila in load_table %}
          <tr>
            {% for columna in fila %}
              {% if view == 'version' %}
                <td style="background-color: {{columna.2}};color: aliceblue;border: solid 1px white;">
                  {{columna.0}}
                </td>
              {% else %}
                {% if columna.2 == '#ffff00' or columna.2 == '#92d050' %}
                  <td  class="ButtonCell" id="{{columna.0}}|{{columna.1}}" style="background-color: {{columna.2}};color: black;border: solid 1px white;">
                    {{columna.0}}
                  </td>
                {% else %}
                  <td  class="ButtonCell" id="{{columna.0}}|{{columna.1}}" style="background-color: {{columna.2}};color: aliceblue;border: solid 1px white;">
                    {{columna.0}}
                  </td>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}

        {% elif tabla %}
          {% for fila in tabla %}
          <tr>
            {% for columna in fila %}
              {% if admin %}
                <td  class="ButtonVersion" id="{{columna}}|0" style="background-color: #292929;color: aliceblue;border: solid 1px white;">
                  {{columna}}
                </td>
              {% elif view == 'profiles' or view == 'client'%}
                <td  class="ButtonCell" id="{{columna}}|0" style="background-color: #292929; color: aliceblue;border: solid 1px white;">
                  {{columna}} 
                </td>
              {% elif view == 'version' %}
                <td style="background-color: {{columna.2}};color: aliceblue;border: solid 1px white;">
                  {{columna.0}}
                </td>
              {% else %}
                <td style="background-color: #292929; color: aliceblue;border: solid 1px white;">
                  {{columna}}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

{% elif view == 'profiles' %}
  <div class="table table-responsive" id="TABLEC">
    <table class="table table-sm" style="margin-bottom: 0%;">
      <tbody>
        {% if assigned %}
          {% for fila in as_table %}
          <tr>
            {% for columna in fila %}
              {% if view == 'version' or view == 'profiles' %}
                <td style="background-color: {{columna.2}};color: aliceblue;border: solid 1px white;">
                  {{columna.0}}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        {% else %}
        {% for fila in tabla %}
        <tr>
          {% for columna in fila %}
            <td style="background-color: #292929;color: aliceblue;border: solid 1px white;">
              {{columna}}
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  

{% else %}
  <div class="table table-responsive" id="TABLEC">
    <table class="table table-sm" style="margin-bottom: 0%;">
      <tbody>
        {% if load_table %}
          {% for fila in load_table %}
          <tr>
            {% for columna in fila %}
              {% if view == 'version' or view == 'profiles' or view == 'client' %}
                <td style="background-color: {{columna.2}};color: aliceblue;border: solid 1px white;">
                  {{columna.0}}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
          {% endfor %}
        {% else %}
        {% for fila in tabla %}
        <tr>
          {% for columna in fila %}
            <td style="background-color: #292929;color: aliceblue;border: solid 1px white;">
              {{columna}}
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  
{% endif %}