{% load static %}

{% if view == 'client' %}
    <div class="row">
        {% if versions %}
        <div class="col-4 from-group">
                {% for version in versions %}
                    {% if version.id == assigned.versionId.id %}
                        <p class="text-white">{{version.versionname}}</p>
                    {% endif %}
                {% endfor %}
        </div>
        {% else %}
            <div class="col-4">
                <p style="color: aliceblue;">Version principal</p>
            </div>
        {% endif %}
    </div>

{% else %}
    <div class="row">
        {% if versions %}
        <div class="col-4 from-group">
            <select class="form-group" name="versionsselect" id="versionsID">
                <option value="0">Version principal 223</option>
                {% for version in versions %}
                    <option value="{{version.id}}">{{version.versionname}} 24</option>
                {% endfor %}
            </select>
        </div>
        {% else %}
            <div class="col-4">
                <p style="color: aliceblue;">Version principal 23</p>
            </div>
        {% endif %}
        <div class="col-4 ">
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#staticBackdrop">Nueva Version</button>
        </div>
    </div>


{% endif %}